@charset "utf-8";

body {background:#fff;}

.inner {padding:0 5rem;}
.titWrap {text-align: center;}
.mTit {position:relative;display:inline-block;margin-bottom:2.25rem;padding-right:1.563rem;margin-left:-1.563rem;font-size:6.5rem;font-weight: 700;letter-spacing: -0.388rem;text-align: center;}
.mTit:before {content:'';position: absolute;right:0;bottom:1.875rem;display:block;width:1rem;height:1rem;background-color: #fe330a;border-radius: 50%;;}
.mSec .inner {padding-top:3.125rem;padding-bottom: 3.125rem;}

main {position: relative;height:100%;}
main>div {position:relative;}

.mVisual {position:fixed;left:0;top:0;width:100%;height:100vh;background:#111;z-index: -1;}
.mVisual .txt-wrap {display:flex;flex-direction: column;width:100%;height:100%;align-items: center;justify-content: center;font-family: 'Playfair Display SC', serif;line-height: .8;padding-bottom: 1.875rem;}
.mVisual .txt-wrap p {font-family: inherit;color:#fff;}
.mVisual .txt-wrap .txt-lv1 {font-size:10rem}
.mVisual .txt-wrap .txt-lv2 {font-size:16rem}
.mVisual .txt-wrap .txt-lv3 {font-size:10rem}
.mVisual .txt-wrap .txt-lv4 {margin-top:3rem;font-size:0.875rem;font-family: 'Pretendard', sans-serif;letter-spacing: 0.313rem;}
.mVisual .scroll-down {position:absolute;bottom:30px;right:50px;;font-size: 0}
.mVisual .scroll-down .bg {animation: rotate 8s infinite linear }
.mVisual .scroll-down span {position:absolute;left:50%;top:50%;display:block;width:25px;height:45px;border:1px solid rgba(255,255,255,.7);border-radius: 30px;transform: translate(-50%,-50%);}
.mVisual .scroll-down span:before {content:'';display:block;width:5px;height:5px;background:#fe330a;position:absolute;left:50%;margin-left:-1.5px;top:7px;border-radius: 50%;}
.mVisual .scroll-down .bg img {width:150px;}

.content_frame--pe0 {z-index: 99;width: 100%;flex-direction: column;justify-content: center;align-items: center;display: flex;position: fixed;top: 0%;bottom: 0%;left: 0%;right: 0%;mix-blend-mode: exclusion;}
.frame_top_left--bc0-1 {width: 20px;height: 20px;border-top: 1px solid #fff;border-left: 1px solid #fff;position: absolute;top: 1rem;bottom: auto;left: 1rem;right: auto}
.frame_top_right--bc0-1 {width: 20px;height: 20px;border-top: 1px solid #fff;border-right: 1px solid #fff;position: absolute;top: 1rem;bottom: auto;left: auto;right: 1rem}
.frame_bottom_left--bc0-1 {width: 20px;height: 20px;border-bottom: 1px solid #fff;border-left: 1px solid #fff;position: absolute;top: auto;bottom: 1rem;left: 1rem;right: auto}
.frame_bottom_right--bc0-1 {width: 20px;height: 20px;border-bottom: 1px solid #fff;border-right: 1px solid #fff;position: absolute;top: auto;bottom: 1rem;left: auto;right: 1rem}
.frame_middle_left {width: 20px;height: 20px;justify-content: center;align-items: center;display: flex;position: absolute;left: 1rem;right: auto}
.line_horizontal--bg0-1 {width: 100%;height: 1px;background-color: #fff;position: absolute}
.line_vertical--bg0-1 {width: 1px;height: 100%;background-color: #fff;position: absolute}
.frame_middle_right {width: 20px;height: 20px;flex-direction: row;justify-content: center;align-items: center;display: flex;position: absolute;left: auto;right: 1rem}

.mExplore {position:relative;margin-top:100vh;background:#fff;border-top-right-radius: 50px;border-top-left-radius: 50px;}
.mExplore .thum {position:relative;height:auto;width:100%;}
.mExplore .thum img {position:absolute;left:50%;top:0;transform:translate(-50%,0);width:100%;height:100%;max-width:unset;object-fit: cover;}
.mExplore .thum:after {content:'';padding-top:64.5%;display:block;width:100%;}
.pin-spacer {background:#111;}
.exploreList {position: relative;z-index: 100;}
.exploreList>ul {display:flex;flex-wrap: wrap;width: calc(100% + 20px);margin-left:-20px;margin-top: -80px;}
.exploreList>ul>li {position:relative;width:calc(33.333% - 20px);margin-left:20px;margin-top:80px;}
.exploreList>ul>li .thum {border-radius: 20px;overflow: hidden;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);}
.exploreList>ul>li .txtArea .tit {margin-top:0.938rem;;margin-bottom:0.438rem;font-size:1.563rem;font-weight: 600;}
.exploreList>ul>li .txtArea .categ {display:flex;gap:4px;}
.exploreList>ul>li .txtArea .categ span {display:flex;justify-content: center;align-items: center;padding:0.18rem 0.738rem;background:rgba(0,0,0,0.7);color:#fff;font-size:14px;border-radius: 20px;}
.mExplore .hover {position:absolute;left:0;top:0;width:100%;height:100%;} 


.mIntroduce {background:#fff;padding-top:5rem;padding-bottom: 3.75rem;}
.mIntroduce .introArea {display:flex;gap:30px;align-items: flex-start;}
.mIntroduce .videoWrap {text-align: center;}
.mIntroduce .videoWrap video {object-fit: cover;height:480px;filter: grayscale(100%);}
.mIntroduce .introWrap  {display:flex;justify-content: center;flex-direction: column;justify-content: center;}
.mIntroduce .introWrap .intro {font-size:1.375rem;word-break: keep-all;}
.mIntroduce .introWrap .intro+.intro {margin-top:2.5rem}


.mIntroduce .mTit {text-align: center;}
.mSkills {border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;}
.mSkills .mTit {margin-top:-55px;}
.mSkills .inner {display:flex;justify-content: center;align-content: center;flex-direction: column;height:100%;text-align: left;}
.noiseBg {position: absolute;left: 0;top: 0;width:100%;height:100%;opacity:calc(10 / 100);background:url('https://static.tildacdn.com/tild3265-3261-4333-a361-353739633737/noise.gif') center;}
.mSkills {position:relative;height:100vh;padding-top:0;background:#fff;}
.mSkills .halfWrap>ul {display:flex;flex-wrap:wrap;border-left:3px solid #111;border-right: 3px solid #111;;}
.mSkills .halfWrap>ul>li {width:50%;padding:0 3rem;}
.mSkills .halfWrap>ul>li:nth-child(even) {border-left: 1px solid rgba(0,0,0,0.5)}
.mSkills .halfWrap>ul>li:nth-child(n+3) {padding-top:4.375rem;}
.mSkills .halfWrap>ul>li .num {display:flex;justify-content: center;align-items: center;height:2.225rem;width:3.313rem;border:2px solid #111;font-size:1.625rem;font-weight: 600;border-radius: 30px;text-align: center;}
.mSkills .halfWrap>ul>li .tit {font-size:4.375rem;font-weight: 600;letter-spacing: -0.188rem;}
.mSkills .halfWrap>ul>li .txt {margin-top:0.313rem;font-size:1.5rem;letter-spacing: -0.063rem;font-weight: 500;word-break: keep-all;padding-right: 50px;}


.mContact {padding:15rem 0;background:#111;}
.mContact .inner {display:flex;justify-content: center;align-items: center;flex-direction: column;}
.mContact .mTit {color:#fff;}
.mContact .touchTxt {display:block;font-size:2.813rem;color:#fff;position:relative;z-index: 99999;}
.mContact .touchTxt p {color:#fff;text-align: center;transition:color .4s ease-out;}
.mContact .touchTxt .tit {font-size:8.25rem;font-family: 'Playfair Display SC', serif;}
.mContact .touchTxt .txt {font-family: 'Playfair Display SC', serif;}
/* .mContact .touchTxt:hover p {color:#f4d35e;} */
.mContact .touchTxt:hover p {color:#fe330a;}


/* Animation */
@keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

.txt-wrap p {display:flex;}
.txt-wrap p span {display:block;filter:blur(25px);opacity: 0;will-change:transform;transition-duration: 1.5s;transition-property: opacity,transform, filter;}
.startAni .txt-wrap p span {transform: rotateX(0deg);filter:blur(0px);opacity: 1;}

  
@media screen and (max-width: 1500px) {
  .mVisual .txt-wrap .txt-lv1 {font-size: 10vw;line-height: 10vw;}
  .mVisual .txt-wrap .txt-lv2 {font-size: 12vw;line-height: 12vw;}
  .mVisual .txt-wrap .txt-lv3 {font-size: 10vw;line-height: 10vw;}
}

@media screen and (max-width: 1400px) {
  .mIntroduce .introArea  {display:block;}
  .mIntroduce .introWrap {display:block;margin-top:30px}
  .mIntroduce .introWrap br {display:none;}
  .mIntroduce .introWrap br {display:none;}

  .mSkills {height:auto;padding-bottom: 8.5rem;padding-top:10.254rem}
  .mSkills .halfWrap>ul>li {width:100%;}
  .mSkills .halfWrap>ul>li:nth-child(even) {border-left:0;}
  .mSkills .halfWrap>ul>li+li {margin-top:40px;}
  .mSkills .halfWrap>ul>li:nth-child(n+3) {padding-top:0;}

  .mContact .touchTxt .tit {line-height: 1em;}
  .mContact .touchTxt .txt {margin-top:2rem;}
}

@media screen and (max-width: 900px) {
  html {font-size:12px}
  .inner {padding:0 1rem;}

  .exploreList>ul>li {width:calc(50% - 20px);}

  .mSkills .halfWrap>ul>li .tit {font-size:3.375rem}

  .mVisual .scroll-down .bg img {width:100px;}
  .mVisual .scroll-down {right:auto;left:50%;transform: translateX(-50%);}
  .mSec .inner {padding-top:5.125rem}
  .mSec .inner {font-size:12px;}
  .exploreList>ul>li .txtArea .tit {font-size:2.57rem}

  .mExplore {border-top-right-radius: 30px;border-top-left-radius: 30px;}
  .mSkills {border-bottom-right-radius: 30px;border-bottom-left-radius: 30px;}
  .exploreList>ul>li .txtArea .categ {flex-wrap: wrap;}
}

@media screen and (max-width: 470px) {
  html {font-size: 8px;}
  .exploreList>ul {width:100%;margin-left: 0;margin-top:-40px;}
  .exploreList>ul>li {width:100%;margin-left: 0;margin-top:40px;}

  .mIntroduce .videoWrap video {height:auto;width:100%;}

  .mIntroduce .introWrap .intro {font-size:1.875rem}
}